@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body {
  padding: 50px;
  font: 14px 'Noto Sans KR', "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  font-family: 'JetBrains Mono', 'Noto Sans KR', monospace;
}

#main-tools {
  a {
    display: inline-flex;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
  }
}

#command-msg {
  background: lightgray;
  padding: 8px;

  #command-error {
    color: darkred;
  }
}

#main-table {
  margin-top: 128px;
  font-family: 'JetBrains Mono', 'Noto Sans KR', monospace;

  table {
    border-collapse: collapse;
  }

  .first {
    border-bottom: 1px solid grey;
    text-align: center;
  }

  .else {
    border-bottom: 1px solid lightgrey;
  }
}