$main-color: #ACC7B4; // 메인 컬러
$sub-color: #f1f1f1; // 선 색상, 테두리 색상
$font-color: #331B3F; // 메인컬러 배경의 폰트 색상
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  margin-right: 10px;
  p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.blockComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  background-color: $font-color;
  p {
    color: #ffffff;
  }
}

.blockComponentList {
  display: flex;
  margin-bottom: 15px;
}
.blockHiddenInfo {
  background-color: white;
  //display: none;
}

.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  visibility: hidden;
  // 조절할 경우 가운데 정렬 위해서 하단의 마진도 함께 조절 필수
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -50%;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}