.block {

}

.blockComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  background-color: #083b1f;
}