@font-face {
  font-family: JetBrains Mono;
  src: url("/font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: Noto Sans KR;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: Gugi;
  src: url("/font/Gugi/Gugi-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: 'JetBrains Mono', monospace;
}