.inner {
  width: 1080px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .inner {
    width: 680px;
  }
}

.container {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

.header {

}

.nameTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  font-size: 24px;
  font-family: 'Gugi', cursive;
}

// 네비게이션 전체
.nav {
  width: 75%
}

// 네비게이션 ul
.navList {
  display: flex;
  list-style:none;
  padding: 0;
}

// 네비게이션 li
.navTab {
  width: 10vw;
}

.userIcon {

}

.footer {
  //position: absolute;
  //bottom: 0;
  //transform: translateY(-100%);
}

.searchNav {
  display: flex;
  flex-direction: column;
}

.searchPage {

}