.inner {
  width: 1080px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .inner {
    width: 680px;
  }
}

.container {
  height: auto;
  min-height: 100%;
}

.header {

}

.nameTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  font-size: 30px;
  font-family: 'Noto Sans KR', cursive;
  font-weight: bold;
}

// 네비게이션 전체
.nav {
  width: 75%
}

// 네비게이션 ul
.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

// 네비게이션 li
.navTab {
  width: 10vw;
}

.userIcon {

}

.footer {
  display: flex;
  background: #1F1F1F;
  padding: 30px;
  width: 100%;
  margin-top: 80px;
}

.footer > div:first-child {
  flex: 3;
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin: auto;
}

.footer > div:last-child {
  flex: 9;
  color: #fff;
}

.searchNav {
  display: flex;
  flex-direction: column;
}

.searchPage {

}

.loadingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
