$main-color: #ACC7B4; // 메인 컬러
$sub-color: #f1f1f1; // 선 색상, 테두리 색상
$font-color: #331B3F; // 메인컬러 배경의 폰트 색상
.lectureNav { // 강의 네비게이션
  display: flex;
  flex-direction: column;
  height: auto;
  width: 320px;
  min-width: 320px;
  border: 1px solid $sub-color;

  ul {
    list-style: none; // 점 없애기
  }
}

.lectureNavTitle { // 강의명, 강사
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $main-color;
  padding: 1em;
  color: $font-color;
}

.lectureNavContent { // 강의 목록
  padding: 1em;

  h3 {
    border: 1px solid $main-color;
    border-radius: 4px;
    padding: 1em;
    color: $main-color;
  }

  li {
    padding: 1em;
  }
}

.lecturePage {
  display: flex;

  ul {
    list-style: none; // 점 없애기
    li {
      font-weight: bolder;
    }
  }
}

.lectureVideo, .lectureInfo, .lectureNoticePage {
  margin: 0 auto;
  padding: 74px 40px 120px;
  width: 840px;
  h3 {
    margin-bottom: 10px;
  }
}

.lectureVideoTitle, .lectureTitle {
  border-bottom: 2px solid $sub-color;
  margin-bottom: 40px;
  padding-bottom: 35px;
}

.lectureBlock { // 일단 임시로 공간 만듦
  display: flex;
  width: 760px;
  min-height: 200px;
  height: auto;
  flex-wrap: wrap;
  background-color: $main-color;
  padding: 20px;
  color: $font-color;
  padding-left: 30px;
}

.lectureInfo li {
  display: flex;
  border: 2px solid $main-color;
  border-radius: 4px;
  padding: 24px 168px 24px 30px;
  margin-bottom: 8px;

}

.lectureAuthor, .lectureDescribe, .lectureBlock, .lectureNotice {
  margin-bottom: 20px;
}

.lectureNoticeSpace {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  padding: 20px 20px 20px 30px;
}

.lectureInfoList { // 강의 정보 페이지에 있는 강의 목록
  h2 {
    border-bottom: 1px solid $sub-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  ul {
    list-style: none;
  }
}

.lectureCard {
  margin: 10px 12px 10px 12px;
}

.lectureCard:nth-child(4n+1) {
  margin-left: 0 !important;
}

.lectureCard:nth-child(4n) {
  margin-right: 0 !important;
}

.myLectureComponent {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  width: 800px;
  color: $font-color;
  height: 240px;
  padding: 40px;
  cursor: pointer;

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 16px;

  }

  & + & {
    margin: 30px auto 0 auto;
  }

  .myLectureImageBox {
    width: 100%;
    max-width: 100px;
    position: relative;
  }

  button {
    width: 90px;
    color: $main-color;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
  }
}

.myLecturePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myLectureNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;

  .myLectureNavP {
    width: 33vw;
    text-align: center;
    cursor: pointer;
  }

  .myLectureNavP + .myLectureNavP {
    border-left: 1px solid #c3c3c4;
  }
}

.myLectureInfoText > div {
  display: flex;
}

.myLectureInfoText {
  width: 100rem;
}
.myLectureText {
  min-width: 120px;
}

.noLectureComponent {
  width: 100em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lectureRegisterBtn {
  border: none;
  background-color: $main-color;
  color: $font-color;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  float: right;
  cursor: pointer;
  font-weight: bolder;
}

.certificationCompletePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size:21px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.LectureTopNav {
  height: 75px;
  font-size: xx-large;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(51, 27, 63, 0.5);
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
  }
  .myLectureLink {
    font-size: 18px;
    margin: auto 0;
  }
}

.LectureContentType {
  border: 2px solid $main-color;
  background-color: $main-color;
  border-radius: 4px;
  color: #ffffff;
  margin-right: 5px;
}

.CertificationDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.CertificationInfo {
  width: 760px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  align-items: inherit;
  h1 {
    font-size: 21px;
  }
}

.certificationCompleteQRLocation {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lectureNoticeDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid $sub-color;
  padding: 20px;
  margin-bottom: 10px;
}

.lectureNoticeContent {
  margin-top: 20px;
  min-height: 445px;
}

.lectureNoNotice {
  font-weight: bolder;
}

.myCreateLectureButtonDiv {
  flex-direction: column;
  float: right;
}

.noticeButton {
  width: 90px;
  border: $main-color 2px solid;
  font-weight: bolder;
  color: $main-color;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10px;
  float: right;
  cursor: pointer;
}

.noticeUpdateInput {
  input {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: 2px solid $sub-color;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  textarea {
    width: 100%;
    height: 500px;
    font-size: 1em;
    border: 2px solid $sub-color;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.makeButton {
  width: 90px;
  border: $main-color 2px solid;
  font-weight: bolder;
  color: $main-color;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10px;
  float: right;
  cursor: pointer;
  margin-bottom: 10px;
}

.createPreviewImage {
  width: 252px;
  height: 200px;
  img {
    width: 252px;
    height: 200px;
  }
  div {
    width: 100%;
    height: 100%;
    border: 2px solid $sub-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.createLecturePage {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.createLectureComponent {
  display: flex;
}
