.mainSignInBox {
  box-sizing: border-box;
  width: 220px;
  height: 240px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  h2 {
    text-align: center;
    margin-top: 16px;
  }

  div {
    height: 64px;
    margin: 16px;
    text-align: center;
    border: solid 1px black;
  }
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 621px;
}

.textBox {
  width: 320px;
  height: 48px;
  padding: 8px;
  margin-top: 8px;
}