<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<section id="api-desc">
    <div id="main-tools">
        <div>도구 모음</div>
        <a href="/api">새로고침</a>
        <a href="/input/table/init">초기 설정</a>
        <a href="/input/table">데이터베이스 테이블 생성</a>
        <a href="/input/table/force">데이터베이스 테이블 강제 생성</a>
    </div>

    <%- apiDesc %>
</section>
</body>
</html>
